USE [master]
GO
/****** Object:  Database [medicityDB]    Script Date: 02/10/2020 2:04:07 ******/
CREATE DATABASE [medicityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'medicityDB', FILENAME = N'C:\Users\user\medicityDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'medicityDB_log', FILENAME = N'C:\Users\user\medicityDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [medicityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [medicityDB]
GO
USE [medicityDB]
GO
/****** Object:  Table [dbo].[BusinessHours]    Script Date: 02/10/2020 2:04:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessHours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumDay] [int] NULL,
	[OpenTime] [time](7) NULL,
	[CloseTime] [time](7) NULL,
	[PharmacyId] [int] NULL,
 CONSTRAINT [PK_BusinessHours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 02/10/2020 2:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History]    Script Date: 02/10/2020 2:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[Id] [int] NOT NULL,
	[MedicalId] [int] NULL,
	[Alert] [bit] NULL,
	[IsSend] [bit] NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medical]    Script Date: 02/10/2020 2:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medical](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
 CONSTRAINT [PK_Medical] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pharmacy]    Script Date: 02/10/2020 2:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pharmacy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Telephone] [nvarchar](15) NULL,
	[CityId] [int] NULL,
	[Description] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[NumHouse] [int] NULL,
	[Lng] [decimal](18, 0) NULL,
	[Lat] [decimal](18, 0) NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[Star] [int] NULL,
 CONSTRAINT [PK_Pharmacy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockPharmacy]    Script Date: 02/10/2020 2:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockPharmacy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPharmacy] [int] NULL,
	[IdMedical] [int] NULL,
	[Quentity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
 CONSTRAINT [PK_StockPharmacy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 02/10/2020 2:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Password] [nvarchar](200) NULL,
	[Telphone] [nvarchar](15) NULL,
	[Permision] [int] NULL,
	[PharmacyId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BusinessHours]  WITH CHECK ADD  CONSTRAINT [FK_BusinessHours_Pharmacy] FOREIGN KEY([PharmacyId])
REFERENCES [dbo].[Pharmacy] ([Id])
GO
ALTER TABLE [dbo].[BusinessHours] CHECK CONSTRAINT [FK_BusinessHours_Pharmacy]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_Medical] FOREIGN KEY([MedicalId])
REFERENCES [dbo].[Medical] ([Id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_Medical]
GO
ALTER TABLE [dbo].[Pharmacy]  WITH CHECK ADD  CONSTRAINT [FK_Pharmacy_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Pharmacy] CHECK CONSTRAINT [FK_Pharmacy_City]
GO
ALTER TABLE [dbo].[StockPharmacy]  WITH CHECK ADD  CONSTRAINT [FK_StockPharmacy_Pharmacy] FOREIGN KEY([IdPharmacy])
REFERENCES [dbo].[Pharmacy] ([Id])
GO
ALTER TABLE [dbo].[StockPharmacy] CHECK CONSTRAINT [FK_StockPharmacy_Pharmacy]
GO
ALTER TABLE [dbo].[StockPharmacy]  WITH CHECK ADD  CONSTRAINT [FK_StockPharmacy_StockPharmacy] FOREIGN KEY([IdMedical])
REFERENCES [dbo].[Medical] ([Id])
GO
ALTER TABLE [dbo].[StockPharmacy] CHECK CONSTRAINT [FK_StockPharmacy_StockPharmacy]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Pharmacy] FOREIGN KEY([PharmacyId])
REFERENCES [dbo].[Pharmacy] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Pharmacy]
GO
USE [master]
GO
